@model AuraWeb.Models.OresPageViewModel
@{
    ViewData["Title"] = "Ores";
    ViewData["NavbarFormController"] = "ItemType";
    ViewData["NavbarFormAction"] = "Ores";
}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark filter-container">
    <span class="navbar-brand filter-brand">@ViewData["Title"]</span>
    <button class="navbar-toggler" type="button" style="background: darkgray;"
            data-toggle="collapse"
            data-target="#optionsBar"
            aria-controls="optionsBar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="optionsBar">
        <form asp-controller="@ViewData["NavbarFormController"]" asp-action="@ViewData["NavbarFormAction"]" method="get">
            <ul class="navbar-nav mr-auto">
                <li>
                    <select class="custom-select unset-border-radius unset-border transparent-bg-color" id="queryMarketGroupInput" name="marketGroup">
                        @if (Model.QueryMarketGroup == "All")
                        {
                            <option value="All" selected>All Market Groups</option>
                        }
                        else
                        {
                            <option value="All">All Market Groups</option>
                        }
                        @foreach (string group in Model.MarketGroups)
                        {
                            @if (Model.QueryMarketGroup == group)
                            {
                                <option value="@group" selected>
                                    @group
                                </option>
                            }
                            else
                            {
                                <option value="@group">
                                    @group
                                </option>
                            }
                        }
                    </select>
                </li>
                <li>
                    <select class="custom-select unset-border-radius unset-border transparent-bg-color" id="queryGroupInput" name="group">
                        @if (Model.QueryGroup == "All")
                        {
                            <option value="All" selected>All Groups</option>
                        }
                        else
                        {
                            <option value="All">All Groups</option>
                        }
                        @foreach (string group in Model.Groups)
                        {
                            @if (Model.QueryGroup == group)
                            {
                                <option value="@group" selected>
                                    @group
                                </option>
                            }
                            else
                            {
                                <option value="@group">
                                    @group
                                </option>
                            }
                        }
                    </select>
                </li>
                <li>
                    @if (!String.IsNullOrWhiteSpace(Model.QueryName))
                    {
                        <input type="text" class="form-control unset-border-radius unset-border transparent-bg-color" placeholder="Name" aria-label="Name" aria-describedby="queryNameInput" name="name" value="@Model.QueryName">
                    }
                    else
                    {
                        <input type="text" class="form-control unset-border-radius unset-border transparent-bg-color" placeholder="Name" aria-label="Name" aria-describedby="queryNameInput" name="name">
                    }
                </li>
                <li>
                    <select class="custom-select unset-border-radius unset-border transparent-bg-color" id="queryViewInput" name="view">
                        <option value="Table" selected>Table View</option>
                    </select>
                </li>
                <li>
                    <button class="btn btn-outline-success my-2 my-sm-0 unset-border-radius" type="submit">Query</button>
                </li>
            </ul>
        </form>
    </div>
</nav>
<div class="row filter-compensator width-100 no-left-margin no-right-margin">
    @if (Model.View == "Table")
    {
        @Html.DisplayFor(x => x.Ores, "OresTable")
    }
</div>