@model AuraWeb.Models.ShipsPageViewModel
@{
    ViewData["Title"] = "Ships";
    ViewData["Action"] = "Ships";
    ViewData["Query"] = Model.QueryName;
    ViewData["Count"] = Model.Ships.Count;
}
<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ships</li>
            @if (Model.QueryGroup != null)
            {
                <li class="breadcrumb-item">
                    @if (Model.QueryGroup == "All")
                    {
                        <span>All Groups</span>
                    }
                    else
                    {
                        <span>@Model.QueryGroup</span>
                    }
                </li>
            }
            @if (Model.QueryRace != null)
            {
                <li class="breadcrumb-item">
                    @if (Model.QueryRace == "All")
                    {
                        <span>All Races</span>
                    }
                    else
                    {
                        <span>@Model.QueryRace</span>
                    }
                </li>
            }
            @if (!String.IsNullOrWhiteSpace(Model.QueryName))
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <span>'@Model.QueryName'</span>
                </li>
            }
        </ol>
    </nav>
</div>
<div class="row breadcrumb-compensator height-100 width-100vw no-left-margin no-right-margin">
    <div class="col-lg-3 col-md-4 col-12 no-padding only-scroll-y-unset width-100 border-right-sm">
        <form asp-controller="ItemType" asp-action="Ships" method="get">
            <!--NAME-->
            <div class="input-group">
                <div class="input-group-prepend" style="min-width:100px">
                    <span class="input-group-text unset-border-radius width-100 unset-border" id="queryNameInput">Name</span>
                </div>
                <input type="text" class="form-control unset-border-radius unset-border" placeholder="Name" aria-label="Name" aria-describedby="queryNameInput" name="name">
            </div>
            <!--GROUP-->
            <div class="input-group">
                <div class="input-group-prepend" style="min-width:100px">
                    <label class="input-group-text unset-border-radius width-100 unset-border" for="queryGroupInput">Group</label>
                </div>
                <select class="custom-select unset-border-radius unset-border" id="queryGroupInput" name="group">
                    @if (Model.QueryGroup == "All")
                    {
                        <option value="All" selected>All</option>
                    }
                    else
                    {
                        <option value="All">All</option>
                    }
                    @foreach (string group in Model.ShipGroups)
                    {
                        @if (Model.QueryGroup == group)
                        {
                            <option value="@group" selected>
                                @group
                            </option>
                        }
                        else
                        {
                            <option value="@group">
                                @group
                            </option>
                        }
                    }
                </select>
            </div>
            <!--RACE-->
            <div class="input-group">
                <div class="input-group-prepend" style="min-width:100px">
                    <label class="input-group-text unset-border-radius width-100 unset-border" for="queryRaceInput">Race</label>
                </div>
                <select class="custom-select unset-border-radius unset-border" id="queryRaceInput" name="race">
                    @if (Model.QueryRace == "All")
                    {
                        <option value="All" selected>All</option>
                    }
                    else
                    {
                        <option value="All">All</option>
                    }
                    @foreach (string race in Model.ShipRaces)
                    {
                        var raceName = (String.IsNullOrWhiteSpace(race) ? "None" : race);
                        @if (Model.QueryRace == raceName)
                        {
                            <option value="@raceName" selected>
                                @raceName
                            </option>
                        }
                        else
                        {
                            <option value="@raceName">
                                @raceName
                            </option>
                        }
                    }
                </select>
            </div>
            <hr class="no-top-margin no-bottom-margin" />
            <!--SUBMIT-->
            <button class="btn btn-outline-success my-2 my-sm-0 width-100 unset-border-radius unset-border" type="submit">Search Ships</button>
            <hr class="no-top-margin no-bottom-margin" />
        </form>
    </div>
    <div class="col-lg-9 col-md-8 col-12 no-padding only-scroll-y-unset width-100">
        <ul class="list-group list-group-flush">
            @foreach (var ship in Model.Ships)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 col-3">
                            <img src="~/IEC/Renders/@(ship.Id).png" class="width-100 img-fluid img-thumbnail" />
                        </div>
                        <div class="col-lg-4 col-sm-10 col-9 no-left-padding">
                            <div>
                                <h4>@ship.Name</h4>
                            </div>
                            <div>
                                <h6>@ship.Group.Name</h6>
                            </div>
                            <div>
                                <h7>
                                    @if (ship.Race != null)
                                    {
                                        <span>@ship.Race.Name</span>
                                    }
                                    else
                                    {
                                        <span>--</span>
                                    }
                                </h7>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">

                            <div class="row">
                                <div class="col-lg-12 col-4">
                                    <center>
                                        @(Html.ActionLink("View Details", "ItemTypeInfo", "ItemType", new { id = ship.Id }))
                                    </center>
                                </div>
                                <div class="col-lg-12 col-4">
                                    <center>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @(Html.ActionLink("Open Info Window", "ItemTypeInfoOpenInfoWindowForItemType", "ItemType", new { id = ship.Id }))
                                        }
                                    </center>
                                </div>
                                <div class="col-lg-12 col-4">
                                    <center>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @(Html.ActionLink("Open Market Window", "ItemTypeInfoOpenMarketWindowForItemType", "ItemType", new { id = ship.Id }))
                                        }
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>