@model AuraWeb.Models.SearchResultsPageViewModel
@{
    ViewData["Title"] = "Search Results";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @if (Model.ResultCount == -1)
    {
        <h5>No Query was provided to search.</h5>
    }
    else if (Model.ResultCount == 0)
    {
        <h5>No Results for query.</h5>
    }
    else
    {
        @if (Model.Regions != null && Model.Regions.Count > 0)
        {
            <h3>Regions</h3>
            <i>Results: @Model.Regions.Count</i>
            @Html.DisplayFor(x => x.Regions, "RegionsTable")
        }

        @if (Model.Constellations != null && Model.Constellations.Count > 0)
        {
            <h3>Constellations</h3>
            <i>Results: @Model.Constellations.Count</i>
            @Html.DisplayFor(x => x.Constellations, "ConstellationsTable")
        }

        @if (Model.SolarSystems != null && Model.SolarSystems.Count > 0)
        {
            <h3>Solar Systems</h3>
            <i>Results: @Model.SolarSystems.Count</i>
            @Html.DisplayFor(x => x.SolarSystems, "SystemsTable")
        }

        @if (Model.Stations != null && Model.Stations.Count > 0)
        {
            <h3>Stations</h3>
            <i>Results: @Model.Stations.Count</i>
            @Html.DisplayFor(x => x.Stations, "StationsTable")
        }

        @if (Model.ItemTypes != null && Model.ItemTypes.Count > 0)
        {
            <h3>Item Types</h3>
            <i>Results: @Model.ItemTypes.Count</i>
            @Html.DisplayFor(x => x.ItemTypes, "ItemTypesTable")
        }

        @if (Model.Characters != null && Model.Characters.Count > 0)
        {
            <h3>Characters</h3>
            <i>Results: @Model.Characters.Count</i>
            @Html.DisplayFor(x => x.Characters, "CharactersTable")
        }
    }
</div>