@model AuraWeb.Models.NewsPageViewModel
@{
    ViewData["Title"] = "News";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <div class="accordion" id="news-accordion">
        <div class="card">
            <div class="card-header" id="headingEve24">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEve24" aria-expanded="false" aria-controls="collapseEve24">
                        <h3>EVE 24</h3>
                    </button>
                </h5>
            </div>
            <div id="collapseEve24" class="collapse show" aria-labelledby="headingEve24" data-parent="#news-accordion">
                <div class="card-body">
                    @foreach (var item in Model.News_Eve24)
                    {
                        <div class="row">
                            <div class="col-3">
                                <img src="@item.ImgSrc" class="width-100 image-border" />
                            </div>
                            <div class="col-9">
                                <div>
                                    <a href="@item.PostUrl" target="_NEW">
                                        <h4>@Html.Raw(item.Title)</h4>
                                    </a>
                                </div>
                                <div>
                                    <h5>@item.PostDate</h5>
                                </div>
                                <div>
                                    <a href="@item.PostAuthorUrl" target="_NEW">
                                        <h6>@item.PostAuthor</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news-post-content">
                            <div class="row">
                                <p class="news.post-content-text">
                                    @Html.Raw(item.Summary)
                                </p>
                            </div>
                            <div class="row">
                                <p class="pull-right">
                                    <a href="@item.PostUrl" target="_NEW">Read Full Post</a>
                                </p>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

