<h2>@ViewData["Title"]</h2>
<form asp-controller="ItemType" asp-action="@ViewData["Action"]" method="get"
      class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search"
           placeholder="Search" aria-label="Search"
           name="query">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search @ViewData["Title"]</button>
</form>
@if (!String.IsNullOrWhiteSpace(ViewData["Query"].ToString()))
{
    <p>Query: @ViewData["Query"]</p>
}
<p>Result Count: @ViewData["Count"]</p>