@model AuraWeb.Models.MarketPageViewModel
@{
    ViewData["Title"] = "Market";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        @Html.ActionLink("Best Sell Prices", "BestSellPrices", null, null)
    </div>
    <div class="row">
        @Html.ActionLink("Best Buy Prices", "BestBuyPrices", null, null)
    </div>
    <table class="table table-dark table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Average Price</th>
                <th scope="col">Adjusted Price</th>
                <th scope="col">Updated</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            @foreach (var marketPrice in Model.Prices)
            {
            <tr onclick="location.href = '@(Url.Action("ItemTypeInfo", "ItemType", new { id = marketPrice.TypeId }))'">
                <th scope="row">@marketPrice.TypeName</th>
                <td>@marketPrice.AveragePrice</td>
                <td>@marketPrice.AdjustedPrice</td>
                <td>@marketPrice.Timestamp</td>
            </tr>
            }
        </tbody>
    </table>
</div>