@using System.Collections
@model List<AuraWeb.Models.MarketOpportunitiesDetail_Row>

@if (Model == null || Model.Count == 0)
{
    <table>
        <tbody>
            <tr>
                <td>o7 No results found! Try checking filters.</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="table table-dark table-sm table-hover table-responsive-xl table-sm-text">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Market Group / Group / Group Category</th>
                <th scope="col">Price Difference</th>
                <th scope="col">Buy Order</th>
                <th scope="col">Buy Location</th>
                <th scope="col">Buy Issued</th>
                <th scope="col">Buy Volume</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Sell Order</th>
                <th scope="col">Sell Location</th>
                <th scope="col">Sell Issued</th>
                <th scope="col">Sell Volume</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody style="cursor:pointer">
            @foreach (var opportunity in Model)
            {
                <tr>
                    <th scope="row">
                        <span>
                            <img src="~/IEC/Types/@(opportunity.TypeId)_32.png" />
                        </span>
                        <span>
                            <a asp-controller="ItemType" asp-action="ItemTypeInfo" asp-route-id="@opportunity.TypeId">@opportunity.TypeName</a>
                        </span>
                    </th>
                    <td>
                        @if (!String.IsNullOrWhiteSpace(opportunity.MarketGroupName))
                        {
                            <span>@opportunity.MarketGroupName</span>
                        }
                        else
                        {
                            <span>--</span>
                        }
                        <span> / </span>
                        @if (!String.IsNullOrWhiteSpace(opportunity.GroupName))
                        {
                            <span>@opportunity.GroupName</span>
                        }
                        else
                        {
                            <span>--</span>
                        }
                        <span> / </span>
                        @if (!String.IsNullOrWhiteSpace(opportunity.GroupCategoryName))
                        {
                            <span>@opportunity.GroupCategoryName</span>
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <th scope="row">@Html.DisplayFor(x => opportunity.PriceDiff, "ISKValue")</th>
                    <td>@opportunity.BuyOrderId</td>
                    <td>
                        <span>
                            <a asp-controller="Universe" asp-action="RegionInfo" asp-route-id="@opportunity.BuyRegionId">@opportunity.BuyRegionName</a>
                        </span>
                        <span> > </span>
                        <span>
                            <a asp-controller="Universe" asp-action="SystemInfo" asp-route-id="@opportunity.BuySystemId">@opportunity.BuySystemName</a>
                        </span>
                        <span> > </span>
                        @if (!String.IsNullOrWhiteSpace(opportunity.BuyStationName))
                        {
                            <span>
                                <a asp-controller="Universe" asp-action="StationInfo" asp-route-id="@opportunity.BuyLocationId">@opportunity.BuyStationName</a>
                            </span>
                        }
                        else
                        {
                            <span>
                                @opportunity.BuyLocationId
                            </span>
                        }
                        <span> (Range: @opportunity.BuyRange)</span>
                    </td>
                    <td>@opportunity.BuyIssued (Duration: @opportunity.BuyDuration)</td>
                    <td>
                        <span>@opportunity.BuyVolumeRemain</span>
                        <span> / </span>
                        <span>@opportunity.BuyVolumeTotal</span>
                        <span> (</span>
                        <span>@opportunity.BuyMinVolume</span>
                        <span> min)</span>
                    </td>
                    <td>@Html.DisplayFor(x => opportunity.BuyPrice, "ISKValue")</td>
                    <td>@opportunity.SellOrderId</td>
                    <td>
                        <span>
                            <a asp-controller="Universe" asp-action="RegionInfo" asp-route-id="@opportunity.SellRegionId">@opportunity.SellRegionName</a>
                        </span>
                        <span> > </span>
                        <span>
                            <a asp-controller="Universe" asp-action="SystemInfo" asp-route-id="@opportunity.SellSystemId">@opportunity.SellSystemName</a>
                        </span>
                        <span> > </span>
                        @if (!String.IsNullOrWhiteSpace(opportunity.SellStationName))
                        {
                            <span>
                                <a asp-controller="Universe" asp-action="StationInfo" asp-route-id="@opportunity.SellLocationId">@opportunity.SellStationName</a>
                            </span>
                        }
                        else
                        {
                            <span>
                                @opportunity.SellLocationId
                            </span>
                        }
                        <span> (Range: @opportunity.SellRange)</span>
                    </td>
                    <td>@opportunity.SellIssued (Duration: @opportunity.SellDuration)</td>
                    <td>
                        <span>@opportunity.SellVolumeRemain</span>
                        <span> / </span>
                        <span>@opportunity.SellVolumeTotal</span>
                        <span> (</span>
                        <span>@opportunity.SellMinVolume</span>
                        <span> min)</span>
                    </td>
                    <td>@Html.DisplayFor(x => opportunity.SellPrice, "ISKValue")</td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfo" asp-route-id="@opportunity.TypeId">View Details for Item Type</a>
                                @if (!String.IsNullOrWhiteSpace(opportunity.BuyStationName) && !String.IsNullOrWhiteSpace(opportunity.SellStationName))
                                {
                                    <a class="dropdown-item" asp-controller="Universe" asp-action="JumpRoutes" asp-route-fromId="@opportunity.BuyLocationId" asp-route-fromType="Station" asp-route-toId="@opportunity.SellLocationId" asp-route-toType="Station">Calculate Jump Route</a>
                                }
                                else
                                {
                                    @if (!String.IsNullOrWhiteSpace(opportunity.BuyStationName) && String.IsNullOrWhiteSpace(opportunity.SellStationName))
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="JumpRoutes" asp-route-fromId="@opportunity.BuyLocationId" asp-route-fromType="Station" asp-route-toId="@opportunity.SellSystemId" asp-route-toType="System">Calculate Jump Route</a>
                                    }
                                    else if (String.IsNullOrWhiteSpace(opportunity.BuyStationName) && !String.IsNullOrWhiteSpace(opportunity.SellStationName))
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="JumpRoutes" asp-route-fromId="@opportunity.BuySystemId" asp-route-fromType="System" asp-route-toId="@opportunity.SellLocationId" asp-route-toType="Station">Calculate Jump Route</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="JumpRoutes" asp-route-fromId="@opportunity.BuySystemId" asp-route-fromType="System" asp-route-toId="@opportunity.SellSystemId" asp-route-toType="System">Calculate Jump Route</a>
                                    }
                                }
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">In-Game</h6>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfoOpenInfoWindowForItemType" asp-route-id="@opportunity.TypeId">Open Info Window for Item Type</a>
                                    <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfoOpenMarketWindowForItemType" asp-route-id="@opportunity.TypeId">Open Market Window for Item Type</a>
                                    @if (!String.IsNullOrWhiteSpace(opportunity.BuyStationName))
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="SetLocationAsWaypoint" asp-route-id="@opportunity.BuyLocationId">Set Waypoint to Best Buy Station</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="SetLocationAsWaypoint" asp-route-id="@opportunity.BuySystemId">Set Waypoint to Best Buy System</a>
                                    }

                                    @if (!String.IsNullOrWhiteSpace(opportunity.SellStationName))
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="SetLocationAsWaypoint" asp-route-id="@opportunity.SellLocationId">Set Waypoint to Best Sell Station</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Universe" asp-action="SetLocationAsWaypoint" asp-route-id="@opportunity.SellSystemId">Set Waypoint to Best Sell System</a>
                                    }
                                }
                                else
                                {
                                    <a class="dropdown-item">Must be logged in.</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}