@using System.Collections
@model List<AuraWeb.Models.OreDataModel>

<table class="table table-dark table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Market Group</th>
            <th scope="col">Group</th>
            <th scope="col">Group Category</th>
            <th scope="col">Meta Group</th>
            <th scope="col">Best Buy System</th>
            <th scope="col">Best Buy Price</th>
            <th scope="col">Best Sell Region</th>
            <th scope="col">Best Sell Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody style="cursor: pointer;">
        @foreach (var ore in Model)
        {
        <tr onclick="location.href = '@(Url.Action("ItemTypeInfo", "ItemType", new { id = ore.Ore.Id }))'">
            <th scope="row">@ore.Ore.Id</th>
            <td>@ore.Ore.Name</td>
            <td>@Html.Raw(ore.Ore.Description)</td>
            <td>
                @if (ore.Ore.MarketGroup != null)
                {
                    @ore.Ore.MarketGroup.Name
                }
                else
                {
                    <span>--</span>
                }
            </td>
            <td>
                @if (ore.Ore.Group != null)
                {
                    @ore.Ore.Group.Name
                }
                else
                {
                    <span>--</span>
                }
            </td>
            <td>
                @if (ore.Ore.Group != null && ore.Ore.Group.Category != null)
                {
                    @ore.Ore.Group.Category.Name
                }
                else
                {
                    <span>--</span>
                }
            </td>
            <td>
                @if (ore.Ore.Meta != null && ore.Ore.Meta.MetaGroup != null)
                {
                    @ore.Ore.Meta.MetaGroup.Name
                }
                else
                {
                    <span>--</span>
                }
            </td>
            <td>@ore.BestBuyPrice.SystemName</td>
            <td>@ore.BestBuyPrice.Price</td>
            <td>@ore.BestSellPrice.SystemName</td>
            <td>@ore.BestSellPrice.Price</td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @(Html.ActionLink("Open Info Window", "ItemTypeInfoOpenInfoWindowForItemType", "ItemType", new { id = ore.Ore.Id }))
                    <span>|</span>
                    @(Html.ActionLink("Open Market Window", "ItemTypeInfoOpenMarketWindowForItemType", "ItemType", new { id = ore.Ore.Id }))
                }
                else
                {
                    <span>Must be logged in.</span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>