@using System.Collections
@model List<AuraWeb.Models.Region_V_Row>

<table class="table table-dark table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Faction</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
    <tbody style="cursor: pointer;">
        @foreach (var region in Model)
        {
        <tr onclick="location.href = '@(Url.Action("RegionInfo", "Universe", new { id = region.Id }))'">
            <th scope="row">@region.Id</th>
            <td>@region.Name</td>
            <td>@region.FactionName</td>
            <td>(@region.Position.X, @region.Position.Y, @region.Position.Z)</td>
        </tr>
        }
    </tbody>
</table>
