@using System.Collections
@model List<AuraWeb.Models.ItemType_V_Row>

<table class="table table-dark table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Race</th>
            <th scope="col">Group</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody style="cursor: pointer;">
        @foreach (var ship in Model)
        {
            <tr>
                <th scope="row">@ship.Id</th>
                <td>@ship.Name</td>
                <td>
                    @if (ship.Race != null)
                    {
                        <span>@ship.Race.Name</span>
                    }
                    else
                    {
                        <span>--</span>
                    }
                </td>
                <td>@ship.Group.Name</td>
                <td>
                    @(Html.ActionLink("View Details", "ItemTypeInfo", "ItemType", new { id = ship.Id }))
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>|</span>
                        @(Html.ActionLink("Open Info Window", "ItemTypeInfoOpenInfoWindowForItemType", "ItemType", new { id = ship.Id }))
                        <span>|</span>
                        @(Html.ActionLink("Open Market Window", "ItemTypeInfoOpenMarketWindowForItemType", "ItemType", new { id = ship.Id }))
                    }
                </td>
            </tr>
        }
    </tbody>
</table>