@using System.Collections
@model List<AuraWeb.Models.ItemType_V_Row>

@if (Model == null || Model.Count == 0)
{
    <table>
        <tbody>
            <tr>
                <td>o7 No results found! Try checking filters.</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="table table-dark table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" class="d-none d-xl-block">Id</th> <!--Only show on XL-->
                <th scope="col">Name</th>
                <th scope="col">Race</th>
                <th scope="col">Group</th>
                <th scope="col"></th> <!--For Actions and other stuffs-->
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            @foreach (var ship in Model)
            {
                <tr>
                    <th scope="row" class="d-none d-xl-block">@ship.Id</th>
                    <td>
                        <span>
                            <img src="~/IEC/Types/@(ship.Id)_32.png" />
                        </span>
                        <span>@ship.Name</span>
                    </td>
                    <td>
                        @if (ship.Race != null)
                        {
                            <span>
                                <img src="~/IEC/Icons/items/@(ship.Race.Icon.File.Split('/').Last())" style="height:32px;" />
                            </span>
                            <span class="d-none d-md-block">
                                @ship.Race.Name
                            </span>
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>@ship.Group.Name</td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfo" asp-route-id="@ship.Id">View Details</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">In-Game</h6>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfoOpenInfoWindowForItemType" asp-route-id="@ship.Id">Open Info Window</a>
                                    <a class="dropdown-item" asp-controller="ItemType" asp-action="ItemTypeInfoOpenMarketWindowForItemType" asp-route-id="@ship.Id">Open Market Window</a>
                                }
                                else
                                {
                                    <a class="dropdown-item">Must be logged in.</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}