@using System.Collections
@model List<AuraWeb.Models.Station_V_Row>

<table class="table table-dark table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Security</th>
            <th scope="col">Solar System</th>
            <th scope="col">Constellation</th>
            <th scope="col">Region</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody style="cursor:pointer">
        @foreach (var station in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-controller="Universe" asp-action="StationInfo" asp-route-id="@station.Id">@station.Name</a>
                </th>
                <td>@Html.DisplayFor(x => station.Security, "Security")</td>
                <td>
                    <a asp-controller="Universe" asp-action="SystemInfo" asp-route-id="@station.SolarSystemId">@station.SolarSystemName</a>
                </td>
                <td>
                    <a asp-controller="Universe" asp-action="ConstellationInfo" asp-route-id="@station.ConstellationId">@station.ConstellationName</a>
                </td>
                <td>
                    <a asp-controller="Universe" asp-action="RegionInfo" asp-route-id="@station.RegionId">@station.RegionName</a>
                </td>
                <td>@station.OperationName</td>
            </tr>
        }
    </tbody>
</table>