@using System.Collections
@model List<AuraWeb.Models.SolarSystem_V_Row>

<table class="table table-dark table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Security</th>
            <th scope="col">Position</th>
            <th scope="col">Region</th>
            <th scope="col">Constellation</th>
            <th scope="col">Faction</th>
        </tr>
    </thead>
    <tbody style="cursor:pointer">
        @foreach (var system in Model)
        {
            <tr onclick="location.href = '@(Url.Action("SystemInfo", "Universe", new { id = system.Id }))'">
                <th scope="row">@system.Id</th>
                <td>@system.Name</td>
                <td>@system.Security.Class (@system.Security.Status)</td>
                <td>(@system.Position.X, @system.Position.Y , @system.Position.Z)</td>
                <td>@system.RegionName</td>
                <td>@system.ConstellationName</td>
                <td>@system.FactionName</td>
            </tr>
        }
    </tbody>
</table>
