@model AuraWeb.Models.UniverseConstellationsPageViewModel
@{
    ViewData["Title"] = "Universe Constellations";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @foreach (var constellation in Model.Constellations)
    {
        <a asp-action="ConstellationInfo"
           asp-controller="Universe"
           asp-route-id="@constellation.ConstellationId">
            <div class="row">
                <h5>@constellation.Name</h5> <i>(#@constellation.ConstellationId)</i>
            </div>
        </a>
        <div class="row">
            <b>Region Id: </b>@constellation.RegionId
        </div>
        <div class="row">
            <b>Position: </b>(@constellation.Position.X, @constellation.Position.Y, @constellation.Position.Z)
        </div>
        <hr />
    }
</div>