@model AuraWeb.Models.UniverseConstellationsPageViewModel
@{
    ViewData["Title"] = "Constellations";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Universe" asp-action="Constellations" method="get"
        class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" 
            placeholder="Search" aria-label="Search"
            name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Constellations</button>
    </form>
    @if (!String.IsNullOrWhiteSpace(Model.Query))
    {
        <p>Query: @Model.Query</p>
    }
    <p>Result Count: @Model.Constellations.Count</p>
    <table class="table table-dark table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Faction</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            @foreach (var constellation in Model.Constellations) 
            {
            <tr onclick="location.href = '@(Url.Action("ConstellationInfo", "Universe", new { id = constellation.Id }))'">
                <th scope="row">@constellation.Id</th>
                <td>@constellation.Name</td>
                <td>@constellation.FactionName</td>
                <td>(@constellation.Position.X, @constellation.Position.Y, @constellation.Position.Z)</td>
            </tr>
            }
        </tbody>
    </table>
</div>