@model AuraWeb.Models.UniverseJumpRoutesPageViewModel
@{
    ViewData["Title"] = "Search";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @if (Model.Form == null || Model.Form.Jumps == null || Model.Form.Jumps.Count <= 0) 
    {
        <form asp-controller="Universe" asp-action="JumpRoutes" method="get"
            class="form-inline my-2 my-lg-0">
            <div class="row">
                <div class="col-6">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search"
                           name="fromQuery">
                    @if (Model.Form != null && Model.Form.FromResults != null)
                    {
                        <table class="table table-dark table-sm table-hover table-responsive-md">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                @foreach (var from in Model.Form.FromResults)
                                {
                                <tr onclick="location.href = '@(Url.Action("JumpRoutes", "Universe", new { fromId = from.Id }))'">
                                    <th scope="row">@from.Id</th>
                                    <td>@from.Name</td>
                                    <td>@from.Type</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="col-6">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search"
                           name="toQuery">
                    @if (Model.Form != null && Model.Form.ToResults != null)
                    {
                        <table class="table table-dark table-sm table-hover table-responsive-md">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                @foreach (var to in Model.Form.ToResults)
                                {
                                    <tr onclick="location.href = '@(Url.Action("JumpRoutes", "Universe", new { toId = to.Id }))'">
                                        <th scope="row">@to.Id</th>
                                        <td>@to.Name</td>
                                        <td>@to.Type</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Regions</button>
        </form>
    }
    else 
    {
        @foreach(var stargate in Model.Form.Jumps) 
        {
            <div class="row">
                <div class="col-6">
                    @stargate.StargateId
                </div>
                <div class="col-6">
                    @stargate.Name
                </div>
            </div>
        }
    }

    
    
</div>