@model AuraWeb.Models.UniverseSystemInfoPageViewModel
@{
    ViewData["Title"] = Model.System.Name;
}
<div class="jumbotron">
    <h1 class="display-4">@Model.System.Name</h1>
    <p>
        <i>System</i>
    </p>
    <p class="lead">
    <a asp-area="" 
        asp-controller="Universe" 
        asp-action="RegionInfo" 
        asp-route-id="@Model.System.RegionId">@Model.System.RegionName</a> > 
    <a asp-area="" 
        asp-controller="Universe" 
        asp-action="ConstellationInfo" 
        asp-route-id="@Model.System.ConstellationId">@Model.System.ConstellationName</a></p>
    <hr class="my-4">
    <h5>@Model.System.Security.Class</h5> <i>@Model.System.Security.Status</i>
    <div>
        <b>Faction: </b>@Model.System.FactionName
    </div>
    <div>
        <b>Position</b> <i>(Actual, Min, Max)</i>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Position Group">
                <button type="button" class="btn btn-light">@Model.System.Position.X</button>
                <button type="button" class="btn btn-light">@Model.System.Position.Y</button>
                <button type="button" class="btn btn-light">@Model.System.Position.Z</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Position Group">
                <button type="button" class="btn btn-secondary">@Model.System.Position.XMin</button>
                <button type="button" class="btn btn-secondary">@Model.System.Position.YMin</button>
                <button type="button" class="btn btn-secondary">@Model.System.Position.ZMin</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Position Group">
                <button type="button" class="btn btn-dark">@Model.System.Position.XMax</button>
                <button type="button" class="btn btn-dark">@Model.System.Position.YMax</button>
                <button type="button" class="btn btn-dark">@Model.System.Position.ZMax</button>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-12">
        <div class="card custom-card" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Open Info For Item In Game</h5>
              @using (Html.BeginForm("SystemInfoOpenInfoWindowForItemType", "ItemType", FormMethod.Post))
              {
                @Html.TextAreaFor(x => Model.OpenInfoModel.SystemId, new { style = "display:none;", value = Model.System.Id })
                @Html.TextAreaFor(x => Model.OpenInfoModel.ItemTypeId, new { style = "display:none;", value = Model.System.Id })

                <button type="submit">Submit</button>
              }
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="card custom-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Set Destination In Game</h5>
            @using (Html.BeginForm("SystemInfoSetSystemAsWaypoint", "Universe", FormMethod.Post))
            {
              @Html.TextAreaFor(x => Model.SetDestination.DestinationId, new { style = "display:none;", value = Model.System.Id })

              <p>
                @Html.CheckBoxFor(x => Model.SetDestination.AddToBeginning, new { @class = "form-check-input" })
                @Html.Label("Add To Beginning", "Add To Beginning", new { @class = "form-check-label" })
              </p>

              <p>
                @Html.CheckBoxFor(x => Model.SetDestination.ClearOtherWaypoints, new { @class = "form-check-input" })
                @Html.Label("Clear Other Waypoints", "Clear Other Waypoints", new { @class = "form-check-label" })
              </p>
              <button type="submit">Submit</button>
            }
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container page-content-container">
    <h4>Star Info</h4>
    <table class="table table-dark table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Luminosity</th>
                <th scope="col">Radius</th>
                <th scope="col">SpectralClass</th>
                <th scope="col">Temperature</th>
                <th scope="col">TypeId</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            <tr>
                <th scope="row">@Model.Star.Name</th>
                <td>@Model.Star.Age</td>
                <td>@Model.Star.Luminosity</td>
                <td>@Model.Star.Radius</td>
                <td>@Model.Star.SpectralClass</td>
                <td>@Model.Star.Temperature</td>
                <td>@Model.Star.TypeId</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="row">
        <div class="col-lg-2 col-md-3 col-12">
            <h4>Stargates</h4>
        </div>
        <div class="col-lg-10 col-md-9 col-12">
            <table class="table table-dark table-sm table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody style="cursor: pointer;">
                    @foreach (var stargate in Model.Stargates)
                    {
                        <tr>
                            <th scope="row">@stargate.StargateId</th>
                            <td>@stargate.Name</td>
                            <td>(@stargate.Position.X, @stargate.Position.Y, @stargate.Position.Z)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-2 col-md-3 col-12">
            <h4>Stations</h4>
        </div>
        <div class="col-lg-10 col-md-9 col-12">
            <table class="table table-dark table-sm table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody style="cursor: pointer;">
                    @foreach (var station in Model.Stations)
                    {
                        <tr>
                            <th scope="row">@station.StationId</th>
                            <td>@station.Name</td>
                            <td>(@station.Position.X, @station.Position.Y, @station.Position.Z)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>