@model AuraWeb.Models.CharacterBookmarksViewModel
@{
    ViewData["Title"] = "Bookmarks";
}
<div class="container page-content-containe0r">
    <h2>@ViewData["Title"]</h2>
    @foreach (var item in Model.BookmarkFolders)
    {
        <div class="row">
            <div class="col-md-4 col-3">
                <h4>@item.Folder.Name</h4>
            </div>
            <div class="col-md-8 col-9">
                @if (item.Bookmarks != null && item.Bookmarks.Count > 0)
                {
                    <table class="table table-dark table-sm table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Coordinates</th>
                                <th scope="col">Item</th>
                                <th scope="col">Created</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody style="cursor:pointer">
                            @foreach (var bookmark in item.Bookmarks)
                            {
                                <tr>
                                    <th scope="row">@bookmark.Id</th>
                                    <td>@bookmark.Label</td>
                                    <td>@bookmark.LocationName</td>
                                    @if (bookmark.Coordinates != null)
                                    {
                                        <td>(@bookmark.Coordinates.X, @bookmark.Coordinates.Y, @bookmark.Coordinates.Z)</td>
                                    }
                                    else
                                    {
                                        <td>--</td>
                                    }
                                    <td onclick="location.href = '@(Url.Action("ItemTypeInfo", "ItemType", new { id = bookmark.ItemTypeId }))'">@bookmark.ItemTypeName</td>
                                    <td>@bookmark.Created</td>
                                    <td>@bookmark.Notes</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div>
                        This Folder is empty.
                    </div>
                }
            </div>
        </div>
        <hr />
    }
</div>