@model AuraWeb.Models.CharacterFleetViewModel
@{
    ViewData["Title"] = "Fleet";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @if (Model.CharacterInFleet)
    {
        <div class="row">
            <div class="col-4">
                <b>ID</b>
            </div>
            <div class="col-8">
                @Model.Fleet.FleetId
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Role</b>
            </div>
            <div class="col-8">
                @Model.Fleet.Role
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Wing ID</b>
            </div>
            <div class="col-8">
                @Model.Fleet.WingId
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Squad ID</b>
            </div>
            <div class="col-8">
                @Model.Fleet.SquadId
            </div>
        </div>
    }
    else
    {
        <div class="row">
            Character is not in a fleet
        </div>
    }
</div>