@model AuraWeb.Models.CharacterPageViewModel
@{
    ViewData["Title"] = "Character";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-5 col-4">
            <img src="@Model.CharacterPortrait" class="width-100" />
        </div>
        <div class="col-md-7 col-8">
            <div class="row">
                <div class="col-sm-4 col-12">
                    <b>Name</b>
                </div>
                <div class="col-sm-8 col-12">
                    @Model.CharacterName
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <b>Corporation</b>
                </div>
                <div class="col-sm-8 col-12">
                    @Model.CorporationName
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <b>Location</b>
                </div>
                <div class="col-sm-8 col-12">
                    <a asp-area=""
                       asp-controller="Universe"
                       asp-action="SystemInfo"
                       asp-route-id="@Model.CharacterLocationId">
                        @Model.CharacterLocationName
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <b>Jump Fatigue Last Jump</b>
                </div>
                <div class="col-sm-8 col-12">
                    @Model.CharacterJumpFatigue.LastJumpDate
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <b>Jump Fatigure Expiration</b>
                </div>
                <div class="col-sm-8 col-12">
                    @Model.CharacterJumpFatigue.JumpFatigueExpireDate
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("Kills/Losses", "KillsLosses", null, null)
    </div>
    <div class="row">
        @Html.ActionLink("Bookmarks", "Bookmarks", null, null)
    </div>
    <div class="row">
        @Html.ActionLink("Fleet", "Fleet", null, null)
    </div>
    <div class="row">
        @Html.ActionLink("Skills", "Skills", null, null)
    </div>
</div>