@model AuraWeb.Models.CharacterPageViewModel
@{
    ViewData["Title"] = Model.Character.Name;
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5 col-4">
            <center>
                <img src="@Model.Portrait.Px512x512" />
            </center>
        </div>
        <div class="col-md-7 col-8">
            <h1 class="display-4">@Model.Character.Name</h1>
            <p>
                <i>Character</i>
            </p>
            <p class="lead">
                Member of @Model.Corporation.Name
            </p>
            <p class="lead">
                Last spotted in <a asp-area=""
                                   asp-controller="Universe"
                                   asp-action="SystemInfo"
                                   asp-route-id="@Model.LocationSystem.SystemId">
                    @Model.LocationSystem.Name
                </a>
            </p>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <b>Last Jump</b >@Model.CharacterJumpFatigue.LastJumpDate
    </div>
    <div>
        <b>Jump Fatigure Expiration</b> @Model.CharacterJumpFatigue.JumpFatigueExpireDate
    </div>
</div>
<div class="container page-content-container">
    <a asp-area=""
        asp-controller="Character"
        asp-action="KillsLosses"
        asp-route-id="@Model.LocationSystem.SystemId">
        <h4></h4>
        Kills/Losses
    </a>
    TODO
    <hr />
    <a asp-area=""
        asp-controller="Character"
        asp-action="Bookmarks"
        asp-route-id="@Model.LocationSystem.SystemId">
        <h4></h4>
        Bookmarks
    </a>
    TODO
    <hr />
    <a asp-area=""
        asp-controller="Character"
        asp-action="Fleet"
        asp-route-id="@Model.LocationSystem.SystemId">
        <h4></h4>
        Fleet
    </a>
    TODO
    <hr />
    <a asp-area=""
        asp-controller="Character"
        asp-action="Skills"
        asp-route-id="@Model.LocationSystem.SystemId">
        <h4></h4>
        Skills
    </a>
    TODO
</div>