@model AuraWeb.Models.CharacterPageViewModel
@{
    ViewData["Title"] = Model.Character.Name;
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5 col-4">
            <center>
                <img src="@Model.Portrait.Px512x512" class="width-100" />
            </center>
        </div>
        <div class="col-md-7 col-8">
            <h1 class="display-4">@Model.Character.Name</h1>
            <p>
                <i>Character</i>
            </p>
            <p class="lead">
                Id @Model.Id
            </p>
            <p class="lead">
                Birthday @Model.Character.Birthday
            </p>
            <p class="lead">
                Member of @Model.Corporation.Name
            </p>
            @if (Model.LocationSystem != null)
            {
                <p class="lead">
                    Last spotted in <a asp-area=""
                                       asp-controller="Universe"
                                       asp-action="SystemInfo"
                                       asp-route-id="@Model.LocationSystem.SystemId">
                        @Model.LocationSystem.Name
                    </a>
                </p>
            }
        </div>
    </div>
    <hr class="my-4" />
    @if (Model.CharacterJumpFatigue != null)
    {
        <div>
            <b>Last Jump</b>@Model.CharacterJumpFatigue.LastJumpDate
        </div>
        <div>
            <b>Jump Fatigure Expiration</b> @Model.CharacterJumpFatigue.JumpFatigueExpireDate
        </div>
    }
    <hr class="my-4" />
    <p>
        <a href="https://zkillboard.com/character/@Model.Id" target="_NEW">ZKillboard</a>
    </p>
</div>
<div class="container page-content-container">
    @if (Model.SkillsQueue != null && Model.SkillsQueue.Count > 0)
    {
        <h3>Skill Queue</h3>
        <table class="table table-dark table-sm table-hover table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Description</th>
                    <th scope="col">Training Level</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
            </thead>
            <tbody style="cursor: pointer;">
                @foreach (var skill in Model.SkillsQueue)
                {
                    <tr>
                        <th scope="row">@skill.Skill_API.SkillId</th>
                        <td>
                            @if (skill.Skill != null)
                            {
                                <span>@skill.Skill.Cert.Name</span>
                            }
                            else
                            {
                                <span>--</span>
                            }
                        </td>
                        <td>
                            @if (skill.Skill != null)
                            {
                                <span>@skill.Skill.Cert.Group.Name</span>
                            }
                            else
                            {
                                <span>--</span>
                            }
                        </td>
                        <td>
                            @if (skill.Skill != null)
                            {
                                <span>@skill.Skill.Cert.Description</span>
                            }
                            else
                            {
                                <span>--</span>
                            }
                        </td>
                        <td>@skill.Skill_API.FinishedLevel</td>
                        <td>@skill.Skill_API.StartDate</td>
                        <td>@skill.Skill_API.FinishDate</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    }
    <a asp-area=""
       asp-controller="Character"
       asp-action="KillsLosses"
       asp-route-id="@Model.Id">
        <h4></h4>
        Kills/Losses
    </a>
    TODO
    <hr />
    <a asp-area=""
       asp-controller="Character"
       asp-action="Bookmarks"
       asp-route-id="@Model.Id">
        <h4></h4>
        Bookmarks
    </a>
    TODO
    <hr />
    <a asp-area=""
       asp-controller="Character"
       asp-action="Fleet"
       asp-route-id="@Model.Id">
        <h4></h4>
        Fleet
    </a>
    TODO
    <hr />
    <a asp-area=""
       asp-controller="Character"
       asp-action="Skills"
       asp-route-id="@Model.Id">
        <h4></h4>
        Skills
    </a>
    TODO
    <hr />
    <a asp-area=""
       asp-controller="Character"
       asp-action="Assets"
       asp-route-id="@Model.Id">
        <h4></h4>
        Assets
    </a>
    TODO
    <hr />
    <a asp-area=""
       asp-controller="Character"
       asp-action="Wallet"
       asp-route-id="@Model.Id">
        <h4></h4>
        Wallet
    </a>
    TODO
</div>