@model AuraWeb.Models.CharacterSkillsViewModel
@{
    ViewData["Title"] = "Skills";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <h3>Skill Queue</h3>
    <table class="table table-dark table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Description</th>
                <th scope="col">Training Level</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">
            @foreach (var skill in Model.SkillQueue)
            {
            <tr>
                <th scope="row">@skill.Skill.Id</th>
                <td>@skill.Skill.Cert.Name</td>
                <td>@skill.Skill.Cert.Group.Name</td>
                <td>@skill.Skill.Cert.Description</td>
                <td>@skill.Skill_API.FinishedLevel</td>
                <td>@skill.Skill_API.StartDate</td>
                <td>@skill.Skill_API.FinishDate</td>
            </tr>
            }
        </tbody>
    </table>
    <hr />
    <h3>Finished Skills</h3>
    <p>
        <b>Total SP: </b>@Model.Skills.TotalSp
    </p>
    <p>
        <b>Unallocated SP: </b>@Model.Skills.UnallocatedSp
    </p>
    <table class="table table-dark table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Description</th>
                <th scope="col">Trained Level</th>
                <th scope="col">Active Skill Level</th>
                <th scope="col">SP in Skill</th>
            </tr>
        </thead>
        <tbody style="cursor: pointer;">

            @foreach (var skill in Model.Skills.Skills)
            {
                <tr>
                    <th scope="row">@skill.Skill_API.SkillId</th>
                    <td>
                        @if (skill.Skill != null && skill.Skill.Cert != null)
                        {
                            @skill.Skill.Cert.Name
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>
                        @if (skill.Skill != null && skill.Skill.Cert != null)
                        {
                            @skill.Skill.Cert.Group.Name
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>
                        @if (skill.Skill != null && skill.Skill.Cert != null)
                        {
                            @skill.Skill.Cert.Description
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>@skill.Skill_API.TrainedSkillLevel</td>
                    <td>@skill.Skill_API.ActiveSkillLevel</td>
                    <td>@skill.Skill_API.SkillpointsInSkill</td>
                </tr>
            }
        </tbody>
    </table>
</div>